@import 'mixins.scss';

.title {
  font-weight: 700;
  font-size: 1.25em;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.src_datetime__container {
  @include flex(row, center, flex-start);

  margin: 0.5em 0;

  & > time {
    font-size: 0.875em;
    font-weight: 300;
    white-space: nowrap;
  }
}

.news_src {
  font-size: 0.875em;
  max-width: 50%;
}

.bullet {
  font-size: 2em;
  padding: 0 0.25em;
}

.views {
  font-size: 0.9em;
}
