@import 'mixins.scss';

.content {
  @include flex(column, flex-start, flex-start);
  font-size: 0.875em;
  padding: 1.25em;
  min-width: 300px;
  max-width: 300px;
}

.header {
  width: 100%;
}

.description {
  --title-color: currentColor;
  --title-color-hover: map-get($colors, 'main');

  color: var(--title-color, currentColor);

  &:hover,
  &:focus {
    color: var(--title-color-hover, blue);
  }

  & > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.src {
  @include flex(row, flex-start, flex-start);
  margin: 0.5em 0 1em;

  --src-color: currentColor;
  --src-color-hover: map-get($colors, 'main');

  color: var(--src-color, currentColor);

  &:hover,
  &:focus {
    color: var(--src-color-hover, blue);
  }
}

.src_icon {
  margin-right: 0.5em;
}

.btns {
  @include flex(row, center, flex-start);
}
