.suggestion {
  font-size: 0.875em;
  padding: 0 1em;
}

.people_searches {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0.75em 0;
}

.page_title {
  margin: 0 1em;
  padding: 0.25em 0;
  font-weight: 700;
}

.show_more {
  margin: 1.5em 0 1em;
}

.show_prev {
  margin: 1em 0 1em;
}
