@import 'colors.scss';
@import 'mixins.scss';

.site_li {
  @include flex(row, center, flex-start);

  height: 2.25em;
  min-height: 2.25em;
  width: 100%;

  &:hover,
  &:focus {
    & .name {
      color: map-get($colors, 'main');
    }
  }
}

.icon {
  margin-right: 0.5em;
}

.description {
  font-size: 0.75em;
  font-weight: 300;
}
