@import 'borders.scss';
@import 'colors.scss';
@import 'mixins.scss';

.card {
  @include flex(column, stretch, space-between);
  overflow: hidden;
  padding: 0.25em;

  &:hover .title,
  &:focus .title {
    color: map-get($colors, 'main');
  }
}

.header {
  padding: 0.5em;
}

.title {
  font-weight: 700;
}

.sign {
  margin-left: 0.75em;
  font-size: 0.75em;
  font-weight: 300;
}

.img_container {
  width: 100%;
  overflow: hidden;
}

.img {
  border-radius: $border-radius-2;
}
